nav {
    margin: 3px;
    background-color: white;
    opacity: 80%;
    border: 2px solid hotpink;
}

nav ul{
    display: flex;
    justify-content: space-around;
    margin-left: 120px;
    margin-right: 120px;
}

nav ul li a {
    font-size: 20px;
}

nav ul li a:visited {
    color: #333;
}

nav ul li a:hover {
    color: #00d2ff;
    font-weight: bold;
}